
// Functional color variables

$color-text-base: #777;
$color-primary: #58e1c1;
$color-link: #51ddfc;


// Button background colors

$color-button-text: #fff;
$color-button-default: #51ddfc;
$color-button-info: #927bc1;
$color-button-error: #e4757a;
$color-button-success: #63cc82;
$color-button-warning: #fd7856;

// Image border

$color-img-border: #ccc;

// Media query breakpoint

$brk-narrow: '(max-width: 768px)';

// Font stacks

$stack-sans-serif: 'Lato', sans-serif;
$font-weight-light: 300;
$font-weight-bold: 700;