

/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $color-button-text;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
      @media (min-width: $brk-narrow) {
        padding: 10px 30px;
      }
  }

  .default {
    background-color: $color-button-default;
  }
  
  .error {
    background-color: $color-button-error;
  }
  
  .info {
    background-color: $color-button-info;
  }
  
  .success {
    background-color: $color-button-success;
  }
  
  .warning {
    background-color: $color-button-warning;
  }
  
  .btn + .btn {
   @media (min-width: $brk-narrow){
      margin-left: 10px;
    }
  }

